.newPassword{
    padding: 0;
}

.createPasswordForm{
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.controlName {
    margin-top: 1rem;
}

.controlEmail{
    margin-top: 1rem;
}