.userCard{
    background-color: #FFFFFF;
    width: 100%;
    margin-bottom:0;
    padding:7.5%;
    padding-bottom: 30%;
    border-radius: 1.2rem;
    

}
.userContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom:0;
}
.userImg{
    border: solid 1px #162333;
    border-radius: 10px;
    width: 35vh;
    margin-top: 2.5rem;
    margin-bottom: 1.8rem;
}

.userName{
    text-align: center;
}