.containerList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listPass{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.PassInfo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.PassItems{
    background-color: #E9EAF1;
    color: #25357a;
    width: 90%;
    height: 30vh;
    padding: 3vh;
    margin-bottom: 5vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.titlePasslist{
    margin-left: 3vh;
}

.Btn-more{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #25357a;
    color: #FEEC8A;
    border: 0;
    border-radius: 10px;
}