.containerList{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 85vw;
    height: 80vh;
}

.listPass{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
}

.PassInfo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.PassItems{
    background-color: #E9EAF1;
    color: #162333;
    width: 85vw;
    height: 40vh;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
}


.Btn-more{
    height: 3rem;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #162333;
    border: 0;
    border-radius: 10px;
    font-size: larger;
    font-weight: 800;
    inline-size: 10px;
    line-height: 10px;
    margin-bottom: 1rem;
}

.pagination{
    display: flex;
    align-items: end;
    justify-content: end;

}
.profileImg{
    width: 20vh;
}

.allBtn{
    display: flex;
    flex-direction: column;
}

.emailPasslist{
    margin-top: 1rem;
}

.editbtn{
    margin: 0.3rem;
    border: solid 2px #162333;
}


